# Data Science Tools and Ecosystem

In this notebook, the various tools, libraries and languages that are used in the field of Data Science are summarized. Some examples of arithmetic expressions are also given to familiarize the reader with their uses.

**Objectives:**
- Listed Some of the Popular Languages of Data Science.
- Listed some of the commonly used libraries used by Data Scientists.
- Listed 3 of the numerous Data Science Tools.
- Gave a few examples of arithmetic expressions in Python.

**Some of the popular languages that Data Scientists use are:**
1. C++
2. Java
3. R
4. Python
5. Julia

**Some of the commonly used libraries used by Data Scientists include:**
1. pandas
2. numpy
3. cerat
4. Matplotlib
5. pytorch
6. TensorFlow
7. Seaborn
8. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Labs|
|Jupyter Notebooks|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic operation to multiply then add integers.

(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Vikas Agarwal